.logo img {
    width: 164px;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: "Segoe UI";
}

.right ul {
    display: flex;
    gap: 10px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li img {
    height: 20px;
}

.right ul li span {
    padding: 0 5px;
}

.right ul li svg {
    width: 15px;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px;
    font-family: Segoe UI;
}

.first span{
    font-size: 40px;
}

.first span img{
    width: 100px;
    margin: 0 23px;
}

.first p{
    font-size: 20px;
    width: 179vh;
    text-align: center;
}

.btn{
    background-color: #45aef5;
    font-family: monospace;
    padding: 16px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    margin: 10px 0;
}

.small{
    font-size: 16px;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.large{
    font-size: 40px;
}

.second img{
    width: 34px;
    padding: 0 12px;
}

.green{
    background-color: rgb(78, 243, 78);
}

.item{
    background-color: #f1e6e6;
    border-radius: 7px;
    font-size: 30px;
    padding: 14px;
}

.item-lang{
    font-weight: 500;
    text-align: center;
}

.item-lang-eng{
    font-weight: 500;
    text-align: center;
    margin: 0 0 31px;   
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
    margin: 30px;
}

.desc{
    font-size: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}