  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Oswald&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background-color: black;
    color: white;
  }

  .left {
    min-height: 80vh;
    width: 25vw;
    padding: 2px 0px;
  }

  .right {
    width: 75vw;
    padding: 2px 0px;
    position: relative;
  }

  .home ul li {
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
  }

  .library {
    min-height: 70vh;
    position: relative;
  }

  .heading {
    display: flex;
    gap: 15px;
    width: 100%;
    font-weight: bold;
    align-items: center;
    font-size: 12px;
  }

  .heading img {
    width: 22px;
    opacity: 0.5;
  }


  .footer {
    display: flex;
    font-size: 9px;
    gap: 6px;
    position: absolute;
    bottom: 0;
    /* margin: 0px 0px 7px 0px;
    padding: 15px 0; */
  }

  .footer a {
    color: gray;
  }

  .header {
    display: flex;
    justify-content: space-between;
    background-color: #090909;
    border-radius: 5px 5px 0px 0px;
  }
  
  .header>* {
    padding: 15px;
  }

  .nav {
    margin: 11px 0px 0px 0px;
  }
  
  button>* {
    margin: 15px;
  }
  
  .signupbtn {
    font-size: 16px;
    background-color: #090909;
    color: rgb(108, 103, 103);
    font-weight: bold;
    border: none;
    outline: none;
    margin: 0 32px 0 0;
    cursor: pointer;
  }
  
  .signupbtn:hover {
    font-size: 17px;
    color: white;
  }
  
  .loginbtn {
    background-color: white;
    color: black;
    border-radius: 25px;
    font-weight: bold;
    padding: 12px 14px;
    cursor: pointer;
    width: 79px;
  }
  
  .loginbtn:hover {
    font-weight: bolder;
    width: 80px;
  }
  
  .spotifyPlaylist {
    padding: 16px;
  }
  
  .cardcontainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
  }
  
  .card {
    position: relative;
    background-color: #171717;
    width: 183px;
    padding: 16px;
    margin: 15px 0px;
    border-radius: 10px;
  }
  
  .card img {
    width: 175px;
    object-fit: contain;
    border-radius: 7px;
  }
  
  .card h2 {
    font-size: 19px;
    margin: 15px 0px 5px 0px;
  }
  
  .card p {
    font-size: 14px;
  }
  
  .play {
    position: absolute;
    top: 158px;
    right: 28px;
    opacity: 0;
    transition: all 1s ease-out;
  }
  
  .playbar {
    position: fixed;
    height: 30px;
    bottom: 30px;
    width: 70vw;
    padding: 10px;
    margin: 10px 0;
    filter: invert(1);
    background-color: #dddddd;
    border-radius: 25px;
  }
  
  .seekbar{
    height: 2px;
    width: 98%;
    background-color: black;
    position: absolute;
    bottom: 5px;
    border-radius: 5px;
  }
  
  .circle{
    position: relative;
    bottom: 300%;
    width: 13px;
    height: 13px;
    background-color: black;
    border-radius: 13px;
    transition: left 0.5s;
  }

  .songbutton {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .songlist{
    height: 544px;
    overflow: auto;
  }
  .songlist ul{
    padding: 0 12px;
 }
 
 .songlist ul li{
     list-style-type: decimal;
     display: flex;
     justify-content: space-between;
     cursor: pointer;
     gap: 12px;
     border: 1px solid white;
     margin: 10px 0;
     padding: 9px 7px;
     border-radius: 5px;
 }
 
 .playnow{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 111px;
  }

  .songlist .info{
    font-size: 13px;
  }

  .songbutton img{
    cursor: pointer;
  }
