.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.invert {
    filter: invert(1);
}

.bg-gray {
    background-color: #121212;
}

.bg-black {
    background-color: black;
    color: white;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 7px 5px;
}

.p-1 {
    padding: 21px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border: 3px solid #1a1a1a;
}

::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}

